sudo: required
dist: focal

language: python
python:
  - "3.8"
services:
  - docker

before_script: pip install docker-compose

script:
  - docker-compose run --rm notiondiscordbot sh -c "python bot.py"