[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
beautifulsoup4 = "*"
fuzzywuzzy = "*"
discord = "*"
validators = "*"
requests = "*"
aiohttp = "*"
certifi = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.8"
