[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
chardet = "*"
idna = "*"
requests = "*"
soupsieve = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
