aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
decorator==5.1.0
discord==1.7.3
discord.py==1.7.3
fuzzywuzzy==0.18.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.10.0
multidict==5.2.0
python-Levenshtein==0.12.2
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.29
typing_extensions==4.0.1
urllib3==1.26.7
validators==0.18.2
yarl==1.7.2
zipp==3.7.0
python-jose==3.3.0